




.xsmall{
    font-size: 14px;
    line-height: 21px;
}

.light-grey{
    color: #818181;
}

.review-card{
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    text-align: left;
    width: 350px;
    min-height: 305px;
    margin: 5px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    box-shadow: 5px 5px 20px 1px rgba(73, 73, 73, 0.101);
}

.name{
    position: absolute;
    bottom:25px;
    font-family: 'Poppins', sans-serif;
}

.space15{
    width: 100px;
    height: 15px;
}