


.call-land .solar-call{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    padding: 0 3%;
}

.font-40{
    font-size: 40px;
}

.call-land .solar-call .logo{
    display: flex;
    align-items: center;
}

.call-land .solar-call .number{
    display: flex;
    align-items: center;
}

.pad-30{
    padding: 0 30px;
}

.pad-50{
    padding: 0 50px;
}

.process-icon{
    display: inline;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    font-size: 12px;
    color: #EA580C;
}

.call-land-main{
    background-image: url('../../assets/lander.png');
    width: 100%;
    padding: 145px 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.call-land-float{
    position: fixed;
    top: 55vh;
    z-index: 10;
    margin-left: 20px;
}

.call-land-float div{
    background-color: white;
    border: 1px solid #FB923C;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 350px;
    margin: 10px 0;
    margin-left: 60px; 
}

.call-land-float .number{
    border-radius: 20px 20px 20px 0;
    align-items: center;
    display: flex;
}

.call-land-float-icon{
    position: relative;
    bottom: 14px;
    right: 5px;
}

.call-land-sponsers{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    padding: 25px 0;
    flex-wrap: wrap;
}

.call-land-sponsers img{
    margin: 5px 7px;
}

.call-land-service{
    background-color: #fefdfb;
    padding: 85px 20%;
    text-align: center;
}

.text-align-left{
    text-align: left;
}

.text-align-center{
    text-align: center;
}

.space10{
    width: 50px;
    height: 10px;
}

.call-land-process-step{
    color: #EA580C;
}

.call-land-service-number{
    background-color: white;
    border: 1px solid #FB923C;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.call-land-process{
    padding: 55px 22%;
}

.call-land-faq{
    padding: 60px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), linear-gradient(0deg, rgba(251, 146, 60, 0.5), rgba(251, 146, 60, 0.5));
}

.call-land-faq div{
    width: 48%;
    display: flex;
    flex-direction: column;
}

.call-land-faq div details{
    background-color: white;
    padding: 20px 25px;
    border-radius: 10px;
    border: 1px solid #DADADA;
    margin: 5px 0;
    cursor: pointer;
}

.call-land-faq div details[open]> summary{
    color: #FB923C;
}

.call-land-faq div details[open]{
    border: 1px solid #FB923C;
}

.call-land-number{
    margin: 60px 5%;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), linear-gradient(0deg, rgba(251, 146, 60, 0.5), rgba(251, 146, 60, 0.5));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 10%;
    text-align: center;
}

.footer-links .logo{
    display: flex;
    align-items: center;
}

footer .grey{
    color: #9F9F9F;
}

.why-solar{
    width: 100%;
    padding: 80px 20%;
    background: linear-gradient(0deg, rgba(253, 244, 237, 0.95), rgba(253, 244, 237, 0.95));
    position: relative;
    overflow: hidden;
}

.savings{
    position: absolute;
    left: -53px;
    top: 10px;
    width: 250px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: rotate(-30deg);
    background-color: #bde6cb;
}

.saving-content{
    background-color: #00BC66;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
}