



.company-comparision-main{
    padding: 40px 0;
    background: linear-gradient(0deg, rgba(253, 244, 237, 0.9), rgba(253, 244, 237, 0.9));

}

.company-comparision-review{
    padding: 70px 5%;
    background-color: #FEFDFB;
}