.inner-pages-text{
    padding: 20px 20%;
}

.inner-pages-text p {
    font-family: 'Poppins', sans-serif;
}

.c-p-n-table tr td{
    padding: 4px 10px;
    font-family: 'Poppins', sans-serif;
}

.inner-pages-text{
    h1{
        font-family: 'Poppins', sans-serif;
    }
}

.bold {
    font-family: 'Poppins', sans-serif;
}