




.preform{
    padding: 100px 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0deg, rgba(253, 244, 237, 0.9), rgba(253, 244, 237, 0.9));
}

.preform .quote{
    width: 65%;
}

.space25{
    width: 50px;
    height: 25px;
}

.qualify-button{
    background: linear-gradient(267.78deg, #FB923C 0.19%, #BC5C4F 72.78%);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    gap: 10px;
    color: white;
    border: 0px solid;
    width: 280px;
    height: 55px;
}