

@media screen and (max-width: 600px) {
    .media-font-22{
        font-size: 22px !important;
    }

    .width-80{
        width: 80% !important;
    }

    .media-font-20{
        font-size: 20px;
    }

    .media-font-16{
        font-size: 16px;
    }

    .media-font-14{
        font-size: 14px;
    }

    .media-font-12{
        font-size: 12px;
    }

    .media-flex-center-col{
        flex-direction: column;
    }

    .provider > div{
        width: 100% !important;
        text-align: center;
    }

    .width-100{
        width: 100% !important;
    }

    .rating > span, .rating > img{
        margin: 7px 0;
    }

    .quote{
        width: 78% !important;
    }

    .qualify-button{
        width: 271px !important;
        height: 55px !important;
    }

    .preform{
        height: 100vh !important;
    }

    .question{
        min-width: 100% !important;
    }

    .progress{
        width: 291px !important;
    }

    .branding{
        padding: 75px 10% !important;
    }

    .flex-wrap-img{
        flex-wrap: wrap;
    }
    .flex-wrap-img > img{
        margin: 15px;
    }

    .flex-wrap{
        flex-wrap: wrap;
    }

    .features{
        flex-wrap: wrap;
    }

    .features div{
        width: 100%;
    }

    .details{
        padding: 40px 0 !important;
    }
    .details details{
        width: 90% !important;
    }

    .text-center{
        text-align: center !important;
        margin: 0 auto;
    }

    .your-choice{
        flex-wrap: wrap;
    }

    .your-choice > img{
        width: 90%;
    }

    .payment-option{
        padding: 40px 10% !important;
    }

    .lander{
        padding: 140px 10% !important;
    }

    .lander> div > form > input, .lander> div > form > button{
        margin: 15px auto !important;
    }

    .cash-option{
        width: 90% !important;
    }

    .home-solution{
        width: 100% !important;
        padding: 25px 7% !important;
    }

    .margin-bot-70{
        margin-bottom: 70px !important;
    }

    .footer-links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}